*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}

main {
    margin: 0 auto;
    padding: 10% 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
}

.btnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
    flex-wrap: wrap
}

#information {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

#saveBtn, #productBtn {
    width: 170px;
    height: 35px;
    color: black;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
}

#name, #productName {
    width: 170px;
    height: 35px;
}

#loadApi {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.productDiv {
    margin-left: 40px;
    margin-right: 40px;
}